<div id="<%= dom_id recommendation %>">
  <p>
    <strong>Email list:</strong>
    <%= recommendation.email_list %>
  </p>

  <p>
    <strong>User token:</strong>
    <%= recommendation.user_token_id %>
  </p>

  <p>
    <strong>Book title:</strong>
    <%= recommendation.book_title %>
  </p>

  <p>
    <strong>Book title encoded:</strong>
    <%= recommendation.book_title_encoded %>
  </p>

</div>
