<%= form_with(model: library_item, local: false) do |form| %>
  <%= form.hidden_field :library_id , value: my_library.id %>
  <%= form.hidden_field :book_title, value: book['title'] %>
  <%= form.hidden_field :book_title_encoded, value: book['book_title_encoded'] %>
  <%= form.hidden_field :list_name_encoded, value: list_name_encoded %>
  Book title <%= book['title'] %>
  <div>
    <%= form.submit %>
  </div>
<% end %>
