<div id="<%= dom_id library_item %>">
  <p>
    <strong>Libary:</strong>
    <%= library_item.libary_id %>
  </p>

  <p>
    <strong>Book title:</strong>
    <%= library_item.book_title %>
  </p>

  <p>
    <strong>Book title encoded:</strong>
    <%= library_item.book_title_encoded %>
  </p>

  <p>
    <strong>List name encoded:</strong>
    <%= library_item.list_name_encoded %>
  </p>

</div>
