<div id="<%= dom_id review %>">
  <p>
    <strong>Book title:</strong>
    <%= review.book_title %>
  </p>

  <p>
    <strong>Book title encoded:</strong>
    <%= review.book_title_encoded %>
  </p>

  <p>
    <strong>Review:</strong>
    <%= review.review %>
  </p>

  <p>
    <strong>User token:</strong>
    <%= review.user_token_id %>
  </p>

</div>
